@charset "UTF-8";

/**
 * @author Jean-François Duval <2067006@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Grille de mise en page
 * Navigations de l'interface (bandeau + pied)
 *** Niveau 1 - Accueil
 balises picture
 *** Niveau 1 - Rose des vents
 ****** navigation vers les récits
 *** Niveau 1 - Crédits
 /* Ajout experience immersive
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit page Photo
 *** Niveau 2 - Gabarit page Texte
 */

/* Charte typographique
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

h1,
.h1 {
    font-family: Merriweather, sans-serif;
    color: white;
}

h2,
.h2,
nav,
.nav {
    font-family: Merriweather, sans-serif;
    color: black;
}

h3,
.h3,
h4,
.h4,
figcaption {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
}


/* Base décimale */
html {
    font-size: 62.5%;
}


body {
    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
}

@media (min-width: 600px) {
    body {
        line-height: 1.5;
    }
}

@media (min-width: 800px) {
    body {
        line-height: 1.75;
    }
}


/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
h1,
.h1 { /* = 32px */
    font-size: 3.2rem;
}

@media (min-width: 600px) {
    h1,
    .h1 { /* = 40px */
        font-size: 4rem;
    }
}

@media (min-width: 800px) {
    h1,
    .h1 { /* = 48px */
        font-size: 4.8rem;
    }
}

h2,
.h2 { /* = 24px */
    font-size: 2.4rem;
}

@media (min-width: 600px) {
    h2,
    .h2 { /* = 32px */
        font-size: 3.2rem;
    }
}

@media (min-width: 800px) {
    h2,
    .h2 { /* = 36px */
        font-size: 3.6rem;
    }
}

h3,
.h3 { /* = 18px */
    font-size: 1.8rem;
}

@media (min-width: 600px) {
    h3,
    .h3 { /* = 24px */
        font-size: 2.4rem;
    }
}

@media (min-width: 800px) {
    h3,
    .h3 { /* = 30px */
        font-size: 3rem;
    }
}

h4,
.h4 { /* = 16px */
    font-size: 1.6rem;
}

@media (min-width: 600px) {
    h4,
    .h4 { /* = 18px */
        font-size: 1.8rem;
    }
}

@media (min-width: 800px) {
    h4,
    .h4 { /* = 22px */
        font-size: 2.2rem;
    }
}

/* Styles de base
   ========================================================================== */
body {
    color: aliceblue;
    /*background-color: aliceblue;*/
    background-image: url("../images/m03/texture.png")
}

blockquote {
    margin: 0;
}

/* Grille de mise en page
   ========================================================================== */
body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

main.conteneur {
    min-height: 80vh;
    min-width: 375px;
}

.figcaption {
    padding-left: 0.5rem;
}

@media (min-width: 601px) {

    .m03__accueil header {
        background-color: #101c3d;
        height: 200px
    }
}

@media (min-width: 601px) {
    .m03__rose-des-vents header {
        background-color: #101c3d;
        height: 140px;
        padding-top: 4rem;

    }
}

.m03__accueil header {
    background-color: #101c3d;
    max-height: 170px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

@media (min-width: 601px) {
    .m03__accueil header {

        min-height: 230px;

    }
}

footer {
    color: aliceblue;
    width: 100%;
    z-index: 5;
}



/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.nav--menu .nav__link {
    color: aliceblue;
    display: inline-block;
    padding: 1rem 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    border-bottom: 5px solid transparent;
}

@media (min-width: 600px) {
    .nav--menu .nav__link {
        font-size: 2.6rem;
        margin: 0 2rem;

    }
}

.nav__listItem {
    margin: 0 3rem;
}

@media (min-width: 600px) {
    .nav__listItem {
        margin: 0 8rem 0 7rem;
        padding-bottom: 3rem;
    }
}

.nav--menu .nav__link:hover {
    text-decoration: underline;
}

.nav--menu .switch:hover {
    transform: scale(2.25);
    text-decoration: none;
    transition: all 0.3s;
}

.nav--menu .nav__link--active {
    color: #ecf4f8;
    border-bottom: 5px solid #ecf4f8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(236, 244, 248);
    /* tests et code du dégradé faits avec https://cssgradient.io/ */
    background: linear-gradient(0deg, rgba(236, 244, 248, 1) 0%, rgba(157, 177, 194, 1) 3%, rgba(67, 67, 67, 1) 30%);
    /*background-color: #434343;*/
}

ul .nav__list {
    position: relative;
}

.svg__immersive {
    margin-top: 3rem;
    margin-left: 2rem;
}

.pagination {
    display: inline-block;
    margin: 1rem;
}

/*Niveau 1 - Accueil
======================*/
.anticoste_accueil {
    margin: 0 5px 0 0;
    text-align: center;

}

@media (min-width: 601px) {
    .anticoste_accueil {
        margin: 1rem 0 1rem 0;
    }
}

.p1 {
    margin: 1rem;
}

@media (max-width: 600px) {
    .h2_septRecits,
    .h2_immersive {
        padding: 0 1rem;
    }
}

@media (max-width: 600px) {
    .h2_exposition {
        color: white;
        padding: 0 1rem 0 1rem;
    }
}

@media (max-width: 600px) {
    .p2 {
        color: white;
        padding: 0 0 3rem 0;
    }
}

@media (min-width: 601px) {
    .p2 {
        color: white;

    }
}

.p1,
.p2,
.p3,
.p4,
.p5 {
    padding: 0 1rem;
}
@media(min-width: 601px){
    .p5{
        margin:0;
        padding: 0;
    }
}

.bleed {
    background-color: #101c3d;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 601px) {
    .h2_exposition,
    .p_exposition,
    p {
        color: white;
        margin: 10px;
    }
}

@media (min-width: 601px) {
    .rangee {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 601px) {
    .cols_6_de_12 {
        margin: 0;
        padding-top: 0.5rem;
    }
}

/* Ajout experience immersive
=================================================*/
@media(min-width: 601px){
.experieneImmersive {
    padding-left: 3rem;
}
}
.kbd {
    color: black;
    font-weight: bold;
}


.dt {
    font-size: 2rem;
    }

.dd {
    text-align: left;
    background-color: #142D7A;
    color: white;
    max-width: 100px;
    margin:1rem 0 2rem 0;


}

.cmd {
    padding-left: 1.4rem
}

.f11 {
    padding-left: 1.5rem;

}

@media (min-width: 601px) {
    .cols_6_de_12 {
        width: 90%;
        margin-left: 2rem;
    }
}

.button {
    background-color: #1A3375;
    max-width: 400px;
    color: white;
    padding: 1rem 1.4rem;
    margin: 4rem 0 2rem 2rem;
    justify-content: center;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}
.footer_credits{
    align-items: center;
    justify-content: flex-end;
max-height: 100px;
}

small {
    align-content: center;
}

/*Niveau 1 - Crédits
======================*/

.header_credits{
    background-color: #101c3d;
}
.m03__credits header{
padding-top: 2rem;
}
@media(max-width: 600px) {
    .main_credits{
        background-image: url("../images/m03/credits_opac_600.png");
        background-size: cover;
    }
}
@media(min-width: 601px)  {
    .main_credits {
        background-image: url("../images/m03/credits_opac_1440.png");
        background-size: cover;
    }
}


p {
    color: black;

}

p.credits_bold {
    font-weight: bold;
    color: black;
}

.credits_bloc_1 {
    padding: 1rem;
    color: black;
}

.credits_bloc_1 p {
    color: black;
}

.credits_bloc_2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: black;
}

.credits_bloc_2 p {
    color: black;
}

/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m03/carte_opac_rose_2000.jpg");
    background-size: cover;
}

.rose-des-vents .conteneur {
    padding-top: 70px;
}

/* navigation vers les récits */
.nav--recits {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
}

@media (min-width: 600px) {
    .nav--recits {
        display: flex;
        justify-content: center;
    }
}

.nav--recits .nav__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 13%;
    min-height: 60vh;
}

@media (min-width: 600px) {
    .nav--recits .nav__list {
        min-height: auto;
        padding-left: 0;
        margin-right: 2%;
    }
}

.nav--recits picture {
    position: absolute;
    top: 200px;
    opacity: 0.25;
}

@media (min-width: 600px) {
    .nav--recits picture {
        position: static;
        opacity: 0.85;
    }
}

.nav--recits .nav__link {
    color: #c8a78c;
    text-decoration: none;
    display: block;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.1rem;
    min-width: 30rem;
    text-align: right;
    line-height: 3rem;
}

.nav--recits .nav__link:hover {
    text-decoration: underline;
    color: #b22a2a; /* la dominante dans la main */
    font-size: 2.15rem;
    background-image: url("../images/m99/main.png");
    background-position: right;
    background-size: 3.5rem;
    background-repeat: no-repeat;
    transition: font-size 0.3s;
}

/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre h1 {
    font-size: 5vh;
    padding-top: 3rem;
}

@media (min-width: 601px) {
    .titre h1 {
        font-size: 10vh;
        padding: 0;
    }
}

.video__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Niveau 2 - Gabarit page Photo
   ========================================================================== */
.photo img {
    max-width: 90%;

}

figure {
    position: relative;
    margin: 0;
}

.photo figure {
    margin-bottom: 10rem;
}

.photo figcaption {
    color: aliceblue;
    background-color: #434343;
    padding: 2rem;
}

@media (min-width: 600px) {
    .photo figcaption {
        position: absolute;
        width: 100%;
        bottom: 0;
        opacity: 0;
    }

    .photo figcaption:hover {
        opacity: 0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte {
    background-image: url("../demo-recit/images/i-txt-m99.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.texte .rangee {
    justify-content: center;
    align-items: center;
    color: #000;
}

.texte__contenu {
    padding: 70px 2rem;
    font-size: 1.8rem;
}

@media (min-width: 600px) {
    .texte__contenu {
        font-size: 2.1rem;
    }
}

.texte__infos {
    color: aliceblue;
    background-color: #434343;
    font-size: 1.6rem;
    padding: 1rem;
}

@media (min-width: 600px) {
    .texte__infos {
        color: transparent;
        background-color: transparent;
        cursor: help;
    }

    .texte__infos:hover {
        color: black;
        transition: color 0.5s;
    }
}

/*grid 12 colonnes*/
@media (min-width: 600px) {
    .conteneur {
        margin: 0 auto;
        max-width: 1000px;
        padding: 0;
        /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
        background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="6.7796610169%" height="100%"/%3E%3Crect x="8.4745762712%" width="6.7796610169%" height="100%"/%3E%3Crect x="16.9491525424%" width="6.7796610169%" height="100%"/%3E%3Crect x="25.4237288136%" width="6.7796610169%" height="100%"/%3E%3Crect x="33.8983050847%" width="6.7796610169%" height="100%"/%3E%3Crect x="42.3728813559%" width="6.7796610169%" height="100%"/%3E%3Crect x="50.8474576271%" width="6.7796610169%" height="100%"/%3E%3Crect x="59.3220338983%" width="6.7796610169%" height="100%"/%3E%3Crect x="67.7966101695%" width="6.7796610169%" height="100%"/%3E%3Crect x="76.2711864407%" width="6.7796610169%" height="100%"/%3E%3Crect x="84.7457627119%" width="6.7796610169%" height="100%"/%3E%3Crect x="93.2203389831%" width="6.7796610169%" height="100%"/%3E%3C/svg%3E') no-repeat scroll;
    }
}
