@charset "UTF-8";

/**
 * @author Prenom Nom <courriel>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Base mise en page
 * Navigations de l'interface (bandeau + pied)
 *** Bouton Rose des Vents
 *** Bouton FullScreen
 * Niveau 1 - Accueil
 * Niveau 1 - Rose des vents
 *** navigation vers les récits
 * Niveau 1 - Crédits
 * Niveau 2 - Gabarit page Titre
 * Niveau 2 - Gabarit page Photo
 * Niveau 2 - Gabarit page Texte
 */

/* Charte typographique
   ========================================================================== */

/* Styles de base
   ========================================================================== */
body {
    color:var(--m99-couleur-principale);
    background-color: #000;
}

blockquote {
    margin: 0;
}

/* Base mise en page
   ========================================================================== */
body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

main.conteneur {
    min-height: 80vh;
    min-width: 375px;
}

header,
footer {
    /*color: aliceblue;*/
    background-color: var(--m99-couleur-background);
    position: fixed;
    width: 100%;
    z-index: 5;
}

footer {
    bottom: 0;
}

header {
    top: 0;
}

/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.nav--menu{
    font-size:var(--m99-fontSize-interface-small);
}
@media (min-width: 600px) {
    .nav--menu{
        font-size:var(--m99-fontSize-interface-large);
    }
}
.nav--menu .nav__link {
    color: var(--m99-couleur-principale);
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-bottom: 5px solid transparent;
}

@media (min-width: 600px) {
    .nav--menu .nav__link {
        margin: 0 2rem;
    }
}

.nav--menu .nav__link:hover {
    text-decoration: underline;
}

.nav--menu .switch:hover {
    transform: scale(2.25);
    text-decoration: none;
    transition: all 0.3s;
}

.nav--menu .nav__link--active {
    color:var(--m99-couleur-principale);
    border-bottom: 5px solid var(--m99-couleur-principale);
    border-top-left-radius: var(--m99-borderRadius);
    border-top-right-radius: var(--m99-borderRadius);
    /* tests et code du dégradé faits avec https://cssgradient.io/ */
    background: linear-gradient(0deg, rgba(236, 244, 248, 1) 0%, rgba(157, 177, 194, 1) 3%, rgba(67, 67, 67, 1) 30%);
}

.pagination{
    margin: 1rem;
}
.pagination span{
    color: #a0a0a0;
    font-size: smaller;
}

/* Bouton Rose des Vents */
#rose{
    width:50px;
    animation: pulse 3s infinite ease-in-out;
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#branche_oblique_bd:hover path,
circle:hover,
#branche_verticale_bas:hover path,
#branche_oblique_hd:hover path,
#branche_oblique_bg:hover path,
#branche_horizontale_droite:hover path,
#branche_horizontale_gauche:hover path,
#branche_verticale_haut:hover path,
#branche_oblique_hg:hover path
{
    fill: #D4AC0D;
}

/* Bouton FullScreen */
/* Styles pour le bouton "fullscreen"
        /* icones: https://fontawesome.com/license */
.fullscreen {
    display: none;
}
@media(min-width: 600px){
    .fullscreen {
        display: inline-block;
        margin: 0.75rem;
        margin-left: auto;
    }
    .icon{
        display: block;
        width: 1em;
        height: 1em;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .icon--fullscreen{
        background-image: url("../demo-recit/images/fullscreen.svg");
    }
    .icon--normalscreen{
        background-image: url("../demo-recit/images/normalscreen.svg");
    }
}

/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m99/carte-navigation_1200.jpg");
    background-size: cover;
}

.rose-des-vents.v2 {
    background-image: url("../images/m99/cartev2.jpg");
}

.rose-des-vents .conteneur {
    padding-top: 70px;
}

/* navigation vers les récits */
.nav--recits {
    font-family: var(--m99-fonte-principale);
    font-weight: bold;
}

@media (min-width: 600px) {
    .nav--recits {
        display: flex;
        justify-content: center;
    }
}

.nav--recits .nav__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 13%;
    min-height: 60vh;
}

@media (min-width: 600px) {
    .nav--recits .nav__list {
        min-height: auto;
        padding-left: 0;
        margin-right: 2%;
    }
}
@media (min-width: 600px) {
    .nav--recits picture {
        position: absolute;
        top: 200px;
        opacity: 0.25;
        z-index: -1;
    }
}
@media (min-width: 600px) {
    .nav--recits picture {
        position: static;
        opacity: 0.85;
    }
}
@media (min-width: 600px) {
    .v2 .nav--recits__rose {
        position: absolute;
        /*top: 70px;*/
        top: 0px;
        opacity: 0.5;
        width: 400px;
        z-index: -1;
        transform:rotate(5deg);
    }
}
.nav--recits .nav__link {
    color: #c8a78c;
    text-decoration: none;
    display: inline-block;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.1rem;
    line-height: 3rem;
}
@media (min-width: 600px) {
    .nav--recits .nav__link {
        display: block;
        min-width: 30rem;
        padding-right: 4rem;
        color: #d06d46;
        text-align: right;
    }
    .v2 .nav--recits .nav__link {
        /*text-align: left;*/
    }
}
.nav--recits .nav__link:hover {
    text-decoration: underline;
    color: #b22a2a; /* la dominante dans la main */
    font-size: 2.15rem;
    background-image: url("../images/m99/main.png");
    background-position: right;
    background-size: 3.5rem;
    background-repeat: no-repeat;
    transition: font-size 0.3s;
}

@media (min-width: 600px) {

    .v2 .nav--recits .nav__listItem:nth-child(1) .nav__link {
        transform: translate(-140px, 5px);
    }
    .v2 .nav--recits .nav__listItem:nth-child(2) .nav__link {
        transform: translate(150px, -10px);
    }
    .v2 .nav--recits .nav__listItem:nth-child(3) .nav__link {
        transform: translate(-250px, -10px);
    }
    .v2 .nav--recits .nav__listItem:nth-child(4) .nav__link {
        transform: translate(220px, 0px)
    }
    .v2 .nav--recits .nav__listItem:nth-child(5) .nav__link {
        transform: translate(-300px, 40px)
    }
    .v2 .nav--recits .nav__listItem:nth-child(6) .nav__link {
        transform: translate(230px, 20px)
    }
    .v2 .nav--recits .nav__listItem:nth-child(7) .nav__link {
        transform: translate(-210px, 50px)
    }
}
/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre h1 {
    font-size: 5vh;
    padding-top: 7rem;
    align-self: flex-start;
}

@media (min-width: 600px) {
    .titre h1 {
        font-size: 10vh;
        padding: 0;
        align-self: center;
    }
}

.video__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Niveau 2 - Gabarit page Photo
   ========================================================================== */
.photo img {
    /*max-width: 90%;*/
    display: block;
}

figure {
    position: relative;
    margin: 0;
}

.photo figure {
    margin-bottom: 10rem;
}

.photo figcaption {
    color: aliceblue;
    background-color: #434343;
    padding: 2rem;
}

@media (min-width: 600px) {
    .photo figcaption {
        position: absolute;
        width: 100%;
        bottom: 0;
        opacity: 0;
    }

    .photo figcaption:hover {
        opacity: 0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte {
    background-image: url("../demo-recit/images/i-txt-m99_600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 600px) {
    .texte {
        background-image: url("../demo-recit/images/i-txt-m99_1000.jpg");
    }
}

@media (min-width: 1000px) {
    .texte {
        background-image: url("../demo-recit/images/i-txt-m99_2000.jpg");
    }
}

.texte .rangee {
    justify-content: center;
    align-items: center;
    color: #000;
}

.texte__contenu {
    padding: 70px 2rem;
    font-family: var(--m99-fonte-ancienne);
    font-size: var(--m99-fontSize-recit-texte-small);
}

@media (min-width: 600px) {
    .texte__contenu {
        font-size: var(--m99-fontSize-recit-texte-large);
    }
}

.texte__infos {
    color: aliceblue;
    background-color: #434343;
    font-size: var(--m99-fontSize-recit-legende-small);
    padding: 1rem;
}

@media (min-width: 600px) {
    .texte__infos {
        color: transparent;
        background-color: transparent;
        font-size: var(--m99-fontSize-recit-legende-large);
        cursor: help;
    }

    .texte__infos:hover {
        color: rgba(50, 50, 50, 0.75);
        transition: color 0.5s;
    }
}
