@charset "UTF-8";

/**
 * @author Camille Marceau <2063511@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Grille de mise en page
 * Navigations de l'interface (bandeau + pied)
 *** Niveau 1 - Accueil
 *** Niveau 1 - Rose des vents
 ****** navigation vers les récits
 *** Niveau 1 - Crédits
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit page Photo
 *** Niveau 2 - Gabarit page Textes
 */
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Della+Respira&display=swap');

:root {
    /** Style camillemarceau07 [m07] **/
    /* les caractères */
    --m07-font-titre: 'Della Respira', serif;
    --m07-font-principale: 'Arsenal', sans-serif;
    --m07-font-ancienne: 'Della Respira', serif;
    /* les couleurs */
    --m07-noir: #1e1e1e;
    --m07-vert: #3d4236;
    --m07-gold: #996a0f;
    --m07-beige: #e0d7c6;
    --m07-blanc: #ffffff;
    /* les tailles */
    --m07-fontSize-interface-small: 1.6rem;
    --m07-fontSize-interface-large: 1.8rem;
    --m07-fontSize-recit-texte-small: 1.6rem;
    --m07-fontSize-recit-texte-large: 2.8rem;
    --m07-fontSize-recit-legende-small: 1.4rem;
    --m07-fontSize-recit-legende-large: 2rem;
    --m07-fontSize-recit-titre-small: 1.6rem;
    --m07-fontSize-recit-titre-large: 2.4rem;
    --m07-fontSize-h1-small: 5rem;
    --m07-fontSize-h1-large: 11rem;
    --m07-fontSize-accueil-h2-small: 5rem;
    --m07-fontSize-accueil-h2-large: 9rem;
    --m07-fontSize-credits-h2-small: 3rem;
    --m07-fontSize-credits-h2-large: 3rem;
    /* ombre */
    --m07-ombre: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

/* Charte typographique
   ========================================================================== */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: 'Della Respira', serif;
}
body{
    font-family: 'Arsenal', sans-serif;
}


/* Base décimale */
html{
    font-size: 62.5%;
}


body {
    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
}
@media (min-width: 600px) {
    body {
        line-height: 1.5;
        font-size: 1.8rem;
    }
}
@media (min-width: 800px) {
    body {
        line-height: 1.75;
        font-size: 1.8rem;
    }
}


/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
h1,
.h1 { /* = 50px */
    font-size: 50rem;
}
@media (min-width: 600px) {
    h1,
    .h1 { /* = 110px */
        font-size: 11rem;
    }
}
@media (min-width: 800px) {
    h1,
    .h1 { /* = 110px */
        font-size: 11rem;
    }
}

h2,
.h2 { /* = 30px */
    font-size: 3rem;
}
@media (min-width: 600px) {
    h2,
    .h2 { /* = 30px */
        font-size: 3rem;
    }
}
@media (min-width: 800px) {
    h2,
    .h2 { /* = 30px */
        font-size: 3rem;
    }
}

h3,
.h3 { /* = 18px */
    font-size: 1.8rem;
}
@media (min-width: 600px) {
    h3,
    .h3 {  /* = 24px */
        font-size: 2.4rem;
    }
}
@media (min-width: 800px) {
    h3,
    .h3 { /* = 30px */
        font-size: 3rem;
    }
}

h4,
.h4 { /* = 16px */
    font-size: 1.6rem;
}
@media (min-width: 600px) {
    h4,
    .h4 { /* = 18px */
        font-size: 1.8rem;
    }
}

@media (min-width: 800px) {
    h4,
    .h4 { /* = 22px */
        font-size: 2.2rem;
    }
}


/* Styles de base
   ========================================================================== */
body{
    color: white;
    background-color: #1e1e1e;
}
blockquote{
    margin:0;
}


/* Grille de mise en page
   ========================================================================== */
body{
    display: flex;
    flex-flow:column wrap;
    min-height: 100vh;
    background-image: url("../images/m07/carte_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main.conteneur{
    min-height: 80vh;
    min-width: 375px;
}
header{
    top: 0;
    background-image: url("../images/m07/bg_nav_principale.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header,
footer {
    position: fixed;
    width: 100%;
    z-index: 5;
}
footer {
    bottom: 0;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    padding-top: 1.5rem;
}

/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    display: flex;
    justify-content: center;
    margin:0;
}

.nav--menu .nav__link {
    color: white;
    display: inline-block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 0.25em;
    border-bottom: 5px solid transparent;
}
@media (min-width: 600px) {
    .nav--menu .nav__link {
        font-size: 2.6rem;
        margin: 0 2rem;
    }
}
.nav__roseDesVents {
    left: -300px;
}
.nav--menu .nav__link:hover {
    color: #996A0F;
}
.nav__roseDesVents:hover {
    fill: white;
}
.nav--menu .switch:hover {
    transform: scale(1.2);
    text-decoration: none;
    transition: all 0.3s;
    fill: #fff;
}
.nav--menu .nav__link--active {
    /*color:#ecf4f8;*/
    /*border-bottom: 5px solid #ecf4f8;*/
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    /*background: rgb(236,244,248);*/
    /* tests et code du dégradé faits avec https://cssgradient.io/ */
    /*background: linear-gradient(0deg, rgba(236,244,248,1) 0%, rgba(157,177,194,1) 3%, rgba(67,67,67,1) 30%);*/
    /*background-color: #434343;*/
}
.pagination{
    display: inline-block;
    margin:1rem;
    font-family: 'Arsenal', sans-serif;
}
/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m07/carte_1200.jpg");
    background-size: cover;
}
.rose-des-vents .conteneur{
    padding-top:70px;
}
/* navigation vers les récits */
.nav--recits {
    font-family: 'Della Respira', serif;
}
@media (min-width: 600px) {
    .nav--recits {
        display: flex;
        justify-content: center;
    }
}
.nav--recits .nav__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 13%;
    min-height: 60vh;
}
@media (min-width: 600px) {
    .nav--recits .nav__list {
        min-height: auto;
        padding-left: 0;
        margin-right: 2%;
    }
}

.nav--recits picture {
    position: absolute;
    top: 200px;
    opacity: 0.25;
}

@media (min-width: 600px) {
    .nav--recits picture {
        position: static;
        opacity: 0.85;
    }
}

.nav--recits .nav__link {
    color: #996A0F;
    text-decoration: none;
    display: block;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.1rem;
    min-width: 30rem;
    text-align: right;
    line-height: 3rem;
}

.nav--recits .nav__link:hover {
    text-decoration: underline;
    /*color: #b22a2a; !* la dominante dans la main *!*/
    font-size: 2.15rem;
    /*background-image: url("../images/m99/main.png");*/
    /*background-position: right;*/
    /*background-size: 3.5rem;*/
    /*background-repeat: no-repeat;*/
    transition: font-size 0.3s;
}

/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre h1{
    font-size:5vh;
    padding-top: 5rem;
}
@media (min-width: 600px) {
    .titre h1{
        font-size:10vh;
        padding: 0;
    }
}
.video__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Niveau 2 - Gabarit page Photo
   ========================================================================== */
.photo img{
    /*max-width: 90%;*/
}
figure{
    position: relative;
    margin-top: 15rem;
}
.photo figure{
    margin-bottom:10rem;
}
.photo figcaption {
    color: white;
    background-color: #3d4236;
    padding: 2rem;
}
@media (min-width: 600px) {
    .photo figcaption {
        position: absolute;
        width:100%;
        height: 100%;
        bottom:0;
        opacity:0;
        text-align: center;
        padding-top: 30%;
    }
    .photo figcaption:hover {
        opacity:0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte{
    background-image: url("../images/m07/bg_texte_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.texte .rangee{
    justify-content: center;
    align-items: center;
    color:#fff;
}
.texte__contenu{
    padding: 70px 2rem;
    font-size:1.8rem;
    font-family: 'Della Respira', serif;
}
@media (min-width: 600px) {
    .texte__contenu{
        font-size:2.1rem;
    }
}
.texte__infos{
    color: fff;
    background-color: #434343;
    font-size: 1.6rem;
    padding: 1rem;
}
@media (min-width: 600px) {
    .texte__infos{
        color: transparent;
        background-color:transparent;
        cursor: help;
        font-family: 'Arsenal', sans-serif;
    }
    .texte__infos:hover{
        color: #fff;
        transition:color 0.5s;

    }
}
