/** VARIABLES À AJOUTER **/
/** developp-a **/
/** Style amelielarouche [m05] **/
/** Style camillemarceau07 [m07] **/

/** developp-b **/
/** Style Daphneemartel [m15] **/
/** Style itsoliroy [m20] **/

:root{
    /** Démo variables [m99] **/
    /* les caractères */
    --m99-fonte-principale: 'Libre Franklin', sans-serif;
    --m99-fonte-ancienne:'Libre Baskerville', serif;
    /* les couleurs */
    --m99-couleur-background: rgba(50, 50, 50, 0.9);
    --m99-couleur-principale: aliceblue;
    /* les tailles */
    --m99-fontSize-interface-small: 1.6rem;
    --m99-fontSize-interface-large: 1.8rem;
    --m99-fontSize-recit-texte-small: 2.2rem;
    --m99-fontSize-recit-texte-large: 2.6rem;
    --m99-fontSize-recit-legende-small: 1.8rem;
    --m99-fontSize-recit-legende-large: 2rem;
    --m99-fontSize-recit-titre-small: 2rem;
    --m99-fontSize-recit-titre-large: 2.4rem;
    /* bordures, coins ronds, divers */
    --m99-borderRadius: 10px;

    /** Style camillemarceau07 [m07] **/
    /* les caractères */
    --m07-font-titre: 'Della Respira', serif;
    --m07-font-principale: 'Arsenal', sans-serif;
    --m07-font-ancienne: 'Della Respira', serif;
    /* les couleurs */
    --m07-noir: #1e1e1e;
    --m07-vert: #3d4236;
    --m07-gold: #996a0f;
    --m07-beige: #e0d7c6;
    --m07-blanc: #ffffff;
    /* les tailles */
    --m07-fontSize-interface-small: 1.6rem;
    --m07-fontSize-interface-large: 1.8rem;
    --m07-fontSize-recit-texte-small: 1.6rem;
    --m07-fontSize-recit-texte-large: 2.8rem;
    --m07-fontSize-recit-legende-small: 1.4rem;
    --m07-fontSize-recit-legende-large: 2rem;
    --m07-fontSize-recit-titre-small: 1.6rem;
    --m07-fontSize-recit-titre-large: 2.4rem;
    --m07-fontSize-h1-small: 5rem;
    --m07-fontSize-h1-large: 11rem;
    --m07-fontSize-accueil-h2-small: 5rem;
    --m07-fontSize-accueil-h2-large: 9rem;
    --m07-fontSize-credits-h2-small: 3rem;
    --m07-fontSize-credits-h2-large: 3rem;
    /* ombre */
    --m07-ombre: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/*** Appliquer la classe clearfix sur un élément dont toutes les balises enfants
     ont une propriété float ***/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Images fluides */
img{
    max-width: 100%;
}

/*** Styles de base ***/
abbr[title]{
    text-decoration: none;
    cursor:help;
}
abbr[title]:hover{
    background-color: rgba(244, 161, 71, 0.25);
}

/** Accessibilité
  * Pour cacher visuellement tout en gardant accessible un contenu:
  * screen-reader-only ou visuallyhidden **/
.screen-reader-only,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}